run-tasks/states/runtask_states.asl.json
{
  "Comment": "Terraform Cloud - Run Task Handler Demo",
  "StartAt": "runtask_request",
  "States": {
    "runtask_request": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${resource_runtask_request}:$LATEST",
        "Payload": {
          "job_name.$": "$$.Execution.Name",
          "payload.$": "$",
          "action": "request"
        }
      },
      "InputPath" : "$",
      "ResultPath": "$.result.request",
      "OutputPath": "$",
      "ResultSelector": {
        "status.$": "$.Payload",
        "raw.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "verification",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "fail"
        }
      ]
    },

    "verification" : {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result.request.status",
          "StringEquals": "verified",
          "Next": "runtask_fulfillment"
        },
        {
          "Variable": "$.result.request.status",
          "StringEquals": "unverified",
          "Next": "runtask_callback"
        }
      ],
      "Default": "fail"
    },

    "fail": {
      "Type": "Fail"
    },

    "runtask_fulfillment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${resource_runtask_fulfillment}:$LATEST",
        "Payload": {
          "job_name.$": "$$.Execution.Name",
          "payload.$": "$",
          "action": "fulfillment"
        }
      },
      "InputPath" : "$",
      "ResultPath": "$.result.fulfillment",
      "OutputPath": "$",
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "message.$": "$.Payload.message",
        "link.$": "$.Payload.link"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "runtask_callback",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "fail"
        }
      ]
    },
    "runtask_callback": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${resource_runtask_callback}:$LATEST",
        "Payload": {
          "job_name.$": "$$.Execution.Name",
          "payload.$": "$",
          "action": "callback"
        }
      },
      "InputPath" : "$",
      "ResultPath": "$.result.callback",
      "OutputPath": "$",
      "ResultSelector": {
        "status.$": "$.Payload"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "success"
    },
    "success": {
      "Type": "Succeed"
    }
  }
}